<div class="tab-content heroes">
  <mat-card *ngFor="let notification of notifications" class="item-card hero" [routerLink]="'/admin/employees/leaves/check/' +
  notification.user['userId']">
    <span class="notification-content">
      <img class="img-url"
        [src]="notification.user['imgUrl'] || userImageUrl" width="40"
        (error)="pictNotLoading($event)"/>
      <strong>{{ notification.user['fullName'] }} </strong>
      {{ notification.title + ' ' + notification.context }}
    </span>
    <a class="details-btn" [routerLink]="'/admin/employees/leaves/check/' +
      notification.user['userId']"> View Details</a>
  </mat-card>
</div>
<ng-progress [thick]="true" ref="router"></ng-progress>

<!-- <ul class="heroes" [@filterAnimation]="heroTotal">
    <li *ngFor="let hero of heroes" class="hero">
      <div class="inner">
        <span class="badge">{{ hero.id }} 1</span>
        <span>{{ hero.name }}</span>
      </div>
    </li>
  </ul> -->