<div #modalBackground>
    <app-reusable-employee-profile
    [userDetails]="userDetails" 
    [profileImageUrl]="profileImageUrl" 
    [attendance]="attendance" 
    [payroll]="payroll" 
    [payRollForm]="payRollForm" 
    [totalDeductions]="totalDeductions"
    [totalEarning]="totalEarning"
    (submitEvent)="onSubmitPayRollForm($event)"
    (cancelSubmitEvent)="onCancelSubmitPayRollForm()"
    (deleteEmitter)="onDeleteEmp($event)"
    [isAdmin]="isAdmin"
    [submitted]="submitted" 
    >
</app-reusable-employee-profile>
<ng-progress [thick]="true"></ng-progress>
</div>
