<app-reusable-employee-profile
    [userDetails]="userDetails" 
    [firstName]="firstName" 
    [lastName]="lastName" 
    [profileImageUrl]="profileImageUrl" 
    [attendance]="attendance" 
    [payroll]="payroll" 
    [payRollForm]="payRollForm" 
    [totalDeductions]="totalDeductions"
    [totalEarning]="totalEarning"
    (submitEvent)="onSubmitPayRollForm($event)"
    (cancelSubmitEvent)="onCancelSubmitPayRollForm()"
    [isAdmin]="isAdmin"
    [submitted]="submitted"
 >
</app-reusable-employee-profile>
<ng-progress [thick]="true"></ng-progress>