.success {
    border: 1px solid green;
    padding: 10px;
    background-color: rgba(166, 250, 173, 0.744);
    color: green;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 0.25rem;
}

.input{
    margin-bottom: 0!important;
}

