<div class="blue-card" @fade>
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div class="row mx-0">
      <!-- -------------------------- left card section -------------------------- -->
      <div class="col-lg-8 col-md-12 col-sm-12 px-0 left-card order-1 order-lg-0">
        <!-- -------------------------- profile page form -------------------------- -->
        <div class="add-edit-form">
          <div class="title" *ngIf="!isMobileDevice">
            <h3>Apply for Leave</h3>
          </div>
          <div class="form form-type2">

            <div class="row mx-0">
              <!----- Reason ------>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group"
                  [ngClass]="f['reason'].invalid && ((f['reason'].dirty || f['reason'].touched))?'has-error':''">
                  <label>Reason<span class="error-red">*</span></label>
                  <p-dropdown [options]="leavesReasons" formControlName="reason" [filter]="true" filterBy="name"
                    placeholder="Select Reason" optionLabel="name" optionValue="name">
                    <ng-template let-item pTemplate="clinics">
                      {{item.name}}
                    </ng-template>
                  </p-dropdown>
                  <div class="error error-msg">
                    <div *ngIf="f['reason'].errors?.['required']">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Reason is required.
                    </div>
                  </div>
                </div>
              </div>

       

              <!-- -------------------------- First Name feild --------------------------- -->
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label>Remaining Leaves</label>
                  <input type="text" class="form-control input-type2" appErrorStylingDirective disabled>
                </div>
              </div>

              <!-- --------------------------- Last Name feild --------------------------- -->
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group"
                  [ngClass]="f['from'].invalid && ((f['from'].dirty || f['from'].touched))?'has-error':''">
                  <label for="icon">From</label>
                  <p-calendar type="date" [minDate]="minDate" dateFormat="dd/mm/yy" (onSelect)="isDateValid()" [showIcon]="true" formControlName="from" placeholder="Leave From Date"></p-calendar>
                  <!-- <label>From<span class="error-red">*</span></label>
                  <input type="Date" (change)="isDateValid()" class="form-control input-type2" formControlName="from"
                    appErrorStylingDirective> -->
                  <div class="error error-msg">
                    <div *ngIf="f['from'].errors?.['required']">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> From is required.
                    </div>
                    <div *ngIf="f['from'].errors?.['pattern']">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> From is invalid.
                    </div>
                  </div>
                </div>
              </div>

              <!-- ----------------------------- Email Feild ----------------------------- -->
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group"
                  [ngClass]="f['to'].invalid && ((f['to'].dirty || f['to'].touched))?'has-error':''">
                  <label for="to">To</label>
                  <p-calendar type="date" [minDate]="minDate" dateFormat="dd/mm/yy" (onSelect)="isDateValid()" [showIcon]="true" formControlName="to" id="to" placeholder="Leave To Date"></p-calendar>
                  <!-- <label>To<span class="error-red">*</span></label>
                  <input type="date" (change)="isDateValid()" class="form-control input-type2" formControlName="to"
                    appErrorStylingDirective> -->
                  <div class="error error-msg">
                    <div *ngIf="f['to'].errors?.['required']">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> To is required.
                    </div>
                    <div *ngIf="f['to'].errors?.['pattern']">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> To is invalid.
                    </div>
                    <div *ngIf="f['to'].errors?.['incorrect']">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> "From" date is greater than "To" date
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group" *ngIf="!isProvider">
                  <div class="button-conditional">
                    <button type="submit" class="btn btn-save btn-regular" [disabled]="!userForm.valid">
                      <span class="btn-text">Apply</span>
                    </button>
                    <button type="button" class="btn btn-cancel btn-regular" (click)="onCancelSubmit()">
                      <span class="btn-text">Cancel</span>
                    </button>
                  </div>
                </div>
              </div>

              <!-- ------------------------- Row ends below div -------------------------- -->
            </div>

            <!-- ------------------------- FOrm ends below div ------------------------- -->

          </div>
        </div>
      </div>

      <!-- ------------------------- right card  section ------------------------- -->
      <div class="col-lg-4 col-md-12 col-sm-12 px-0 right-card order-0 order-lg-1">
        <div class="right-card-wrapper">
          <div class="title" *ngIf="isMobileDevice">
            <h3>Apply For Leave</h3>
          </div>
          <div class="profile-img-section">
            <img [src]="profileImageUrl || 'assets/img/profileDefault.png'">
            <div class="about-section">
              <h4 class="title text-white">{{ fullName }}</h4>
              <p class="text-white badge" style="margin: 0;">
                {{ service }}
              </p>
            </div>
          </div>
          <div class="description-field row mx-0">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>