<mat-toolbar class="login-toolbar" color="primary"><span>Admin Sign Up</span> </mat-toolbar>


<main class="login login-page">
    <div class="top-section">
        <div class="center-content">
            <div class="main-box">

                <h2 class="title"> {{ serverSuccessMessages ? "Enter OTP sent to Admin Email" : "Register as Admin" }}</h2>

                <!-- <ng-container *ngIf="errMsg">
                    <app-auth-error [error]="errMsg" [success]="accountCreationMessage"></app-auth-error>
                </ng-container> -->
                
                <form *ngIf="!serverSuccessMessages" [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()" class="input-color">
                    <p class="label">Full Name</p>
                    <input formControlName="fullName" type="text" class="input form-control">
                    <p class="label">Email</p>
                    <input formControlName="email" type="email" class="input form-control">
                    <div class="password-row">
                        <p class="label">Password</p>
                    </div>

                    <div class="password-wrapper  form-group">
                        <input formControlName="password" [type]="!isShowPassword?'password' : 'text'" name="password"
                            class="input form-control" id="password">
                        <span class="show-hide graymedium" (click)="toggleShowPasswordFeild()">
                            <i class="fa" [ngClass]="{
                            'fa-eye-slash': !isShowPassword,
                            'fa-eye': isShowPassword
                          }"></i>

                        </span>
                    </div>

                    <div class="alert" *ngIf="serverErrorMessages">
                        {{serverErrorMessages}}
                        <i class="pi pi-fw pi-trash" (click)="onClearErrMsg()"></i>
                    </div>
                    <button class="continue-btn">Register as Admin</button>
                    <p class="normal text-center no-account">Already have an Admin account?
                        <a routerLink="/admin/login" class="link"> Admin Login</a>
                    </p>
                    <p class="normal text-center no-account">Are you an Employee?
                        <a routerLink="/employee/login" class="link"> Employee Login</a>
                    </p>
                </form>


                <form *ngIf="serverSuccessMessages" [formGroup]="otpForm" (ngSubmit)="submitOtpForm()" class="input-color">
                    <p class="label" *ngIf="display">OTP is valid for {{display}} Minutes.</p>
                    <p class="label" *ngIf="!display">OTP is valid for 2 minutes from the time you sent it.</p>
                    <input formControlName="otp" placeholder="Enter OTP here..." type="text" class="input form-control">
                    <div class="alert" *ngIf="serverErrorMessages">
                        {{serverErrorMessages}}
                        <i class="pi pi-fw pi-trash" (click)="onClearErrMsg()"></i>
                    </div>
                    <button class="continue-btn">SUBMIT OTP</button>
                    <p class="normal text-center no-account">
                        <a routerLink="/admin/login" class="link">Back to Admin Login</a>
                    </p>
                    <p class="normal text-center no-account">Didn't recieved OTP? 
                        <button (click)="resendOTP()" class="link send-otp-again" [disabled]="displaySendOtpTime && displaySendOtpTime.slice(-2)!=00"> Send OTP again </button>
                        <span class="label" *ngIf="displaySendOtpTime && displaySendOtpTime.slice(-2)!=00">in {{displaySendOtpTime}} Minutes.</span>
                    </p>
                </form>

            </div>
        </div>
    </div>
</main>
<ng-progress [thick]="true"></ng-progress>
