<div class="row mx-0">
    <!-- -------------------------- First Name feild --------------------------- -->
    <div class="col-lg-12 col-md-12 col-sm-12 centred">
        <div class="bg-white datatable-table">
            <div class="title">
                <h3 *ngIf="!isAdmin">Check Your Leaves
                </h3>
                <h3 *ngIf="isAdmin">Check Leaves of {{ userDetails?.fullName }}
                </h3>
            </div>
            <div class="table-list">
                <p-table #dt1 responsiveLayout="stack" [value]="leaves" [reorderableColumns]=true sortField="id"
                    [sortOrder]="-1" [columns]="selectedColumns" [paginator]="true" [rows]="10"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="globalFilterColumn">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <p-multiSelect  [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                                selectedItemsLabel="{0} Columns" [style]="{minWidth: '120px'}"
                                placeholder="Choose Columns">
                            </p-multiSelect>
                                <span class="p-input-icon-left ml-auto" ><i class="pi pi-search"></i>
                                    <div class="table-button">
                                        <input pInputText class="search-table" type="text"
                                            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search keyword" />
                                    </div>
                                </span>
                                <span class="p-input-icon-left ml-auto">
                                    <div class="table-btn-wrapper table-button" *ngIf="!isAdmin" >
                                        <span class="icon">
                                            <i class="fa fa-plus"></i>
                                            <a routerLink="/employee/leaves/apply">Apply for leave
                                            </a>
                                        </span>
                                    </div>
                                </span>
                              
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <ng-container *ngFor="let col of columns">
                                <th [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <!-- <ng-template pTemplate="body" let-data> -->
                    <ng-template pTemplate="body" let-data let-columns="columns">
                        <tr class="mobile-special">
                            <ng-container *ngFor="let col of columns">
                                <td>
                                    <ng-container [ngSwitch]="col.fieldName">
                                        <!-- <ng-container *ngSwitchCase="'status'">
                                <p-inputSwitch [trueValue]="data[col.field]==='ACTIVE'" (onChange)="onCheckBoxChange($event, data)"></p-inputSwitch>
                              </ng-container> -->

                                        <ng-container *ngSwitchCase="'from'">
                                            <span class="p-column-title">{{col.header}}</span>
                                            {{ data[col.field] | date:'dd-MM-yyyy' }}
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'to'">
                                            <span class="p-column-title">{{col.header}}</span>
                                            {{ data[col.field] | date:'dd-MM-yyyy' }}
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'status'">
                                            <span class="p-column-title">{{col.header}}</span>
                                            <span class="success" [ngClass]="getCustomCss(data[col.field])"> {{
                                                data[col.field] }}</span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'reason'">
                                            <span class="p-column-title">{{col.header}}
                                                
                                            </span> {{data[col.field] ?
                                                data[col.field] : '-'}}
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'actions'" >
                                            <span class="p-column-title">{{col.header}}</span>
                                            <span *ngIf="!isAdmin">-</span>
                                            <button class="button btn-success" href="javascript:void(0)" *ngIf="isAdmin" [disabled]="data.status=='Approved'" (click)="onRespondToLeaves(data, 'Approved')"><span class="btn-text">Approve</span></button>
                                            <button class="button btn-danger" href="javascript:void(0)" *ngIf="isAdmin" [disabled]="data.status=='Denied'" (click)="onRespondToLeaves(data, 'Denied')"><span class="btn-text">Deny</span></button>
                                           
                                        </ng-container>

                                        <!-- <ng-container *ngSwitchCase="'exitType'">
                                <span class="p-column-title">{{col.header}}</span>
                                {{  data[col.field]?.['exitType'] }}
                              </ng-container>
  
                              <ng-container *ngSwitchCase="'updatedAt'">
                                <span class="p-column-title">{{col.header}}</span> {{ formatTimeService.formatTime( data[col.field])}}
                              </ng-container> -->


                                        <!-- <ng-container *ngSwitchCase="'actions'">
                                    <span class="p-column-title">{{col.header}}</span>
                                    <a href="javascript:void(0)" (click)="editTemplate(data.id)"><i
                                            class="fas fa-edit ms-text-primary"></i></a>
                                    <a href="javascript:void(0)" (click)="deleteTemplateModal(data)"><i
                                            class="far fa-trash-alt ms-text-danger"></i></a>
                                </ng-container> -->
                                        <ng-container *ngSwitchDefault>
                                            <span class="p-column-title">{{col.header}}</span> {{data[col.field] ?
                                            data[col.field] : '-'}}
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    
                </p-table>
            </div>
        </div>
    </div>
</div>
<ng-progress [thick]="true"></ng-progress>