<ng-progress [thick]="true"></ng-progress>
<div class="container" *ngIf="users?.length>=1">
    <div class="row">
      <div #card class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let user of users">
        <app-employee [cardBgImage]="user['imagePath']" [name]="user['fullName']" [designation]="user['service']"  (selectUserEmitter)="onNavigateToUserProfile(user)" [showActions]="showActions"></app-employee>
      </div>
    </div>
<p-paginator *ngIf="totalUsers>perPage"  [rows]="10" [totalRecords]="totalUsers" [rowsPerPageOptions]="[4, 8, 16]" (onPageChange)="paginate($event)"></p-paginator>
</div>
<div  *ngIf="users?.length<=0 && !isLoading">No Users Found </div>

