<div @fade>
    <div class="row mx-0">
      <!-- -------------------------- First Name feild --------------------------- -->
      <div class="col-lg-12 col-md-12 col-sm-12 centred">
        <mat-tab-group animationDuration="500ms">
  
          <!-------------- Timeline tab -------------->
          <mat-tab label="Timeline">
            <app-reusable-timeline [firstName]="firstName" [lastName]="lastName" [userDetails]="userDetails"
              [profileImageUrl]="profileImageUrl"></app-reusable-timeline>
          </mat-tab>
          <!-------------- Timeline tab ends-------------->
  
  
          <!-------------- Attendance tab -------------->
          <mat-tab label="Attendance">
            <app-reusable-attendance [attendance]="attendance"></app-reusable-attendance>
          </mat-tab>
          <!-------------- Attendance tab ends-------------->
          
  
          <!-------------- Salary Slips tab -------------->
          <mat-tab label="Salary Slips">
            <app-reusable-payroll [payroll]="payroll" [user]="user"></app-reusable-payroll>
          </mat-tab>
          <!-------------- Salary Slips tab ends -------------->
  
        </mat-tab-group>
      </div>
    </div>
  </div>