
 
 <!-- <app-header></app-header> -->
   <router-outlet></router-outlet>

    <!-- <form class="container">
      <div class="login-container">
        <div class="login-content">
          <mat-card>
            <form [formGroup]="loginForm" #formDirective="ngForm" 
      (ngSubmit)="onSubmit(loginForm)" >
              <mat-form-field>
                <mat-icon matPrefix>person_outline</mat-icon>
                <input autofocus type="text" matInput placeholder="Username" formControlName="email">
              </mat-form-field>
    
              <mat-form-field>
                <mat-icon matPrefix>lock_outline</mat-icon>
                <input type="password" autocomplete="false" matInput placeholder="Password"  formControlName="password">
              </mat-form-field>
    
              <button type="submit" mat-raised-button color="primary">LOGIN</button>
            </form>
              <mat-toolbar class="login-toolbar" style="background-color:white">login with</mat-toolbar>
              <div class="socialMediaFlex">
                <button mat-fab color="primary"><i class="fab fa-facebook-f"></i></button>
                <button mat-fab color="accent"><i class="fab fa-google"></i></button>
              </div>
              <br>
              <span> If You don't have a account yet please <a routerLink ='/register'>REGISTER HERE</a></span>
    
    
    
            
          </mat-card>
        </div>
      </div>

      <h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option value="test">
      Test
    </mat-option>
    <mat-option  value="test">
      Test 1
    </mat-option>
    <mat-option  value="test">
      Test 2
    </mat-option>
  </mat-select>
</mat-form-field>

<h4>Basic native select</h4>
<mat-form-field appearance="fill">
  <mat-label>Cars</mat-label>
  <mat-select matNativeControl required>
    <mat-option value="volvo">Volvo</mat-option>
    <mat-option value="saab">Saab</mat-option>
    <mat-option value="mercedes">Mercedes</mat-option>
    <mat-option value="audi">Audi</mat-option>
  </mat-select>
</mat-form-field>
</form> -->





