.success {
    color:white;
    background-color: green;
    padding: 5px;
    border-radius: 3px;
}

.warn {
    color:#fff;
    background-color: #f0ad4e;
    padding: 5px;
    border-radius: 3px;
}

.danger {
    color:white;
    background-color: red;
    padding: 5px;
    border-radius: 3px;
}