<form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
    <app-change-password-form formControlName="password"></app-change-password-form>
    <div class="col-lg-6">
        <div class="form-group">
          <div class="button-conditional">
            <button type="submit" class="btn btn-save btn-regular" [disabled]="!changePasswordForm.valid">
              <span class="btn-text">Save</span>
            </button>
            <button type="button" class="btn btn-cancel btn-regular" (click)="onCancelSubmit()">
              <span class="btn-text">Cancel</span>
            </button>
          </div>
        </div>
      </div>
  </form>