<p-sidebar [(visible)]="display" position="left" [style]="{width:'14em'}">
 

</p-sidebar>

<p-menubar [model]="items" class="desktop"> <div>
    <!-- <app-dark-mode></app-dark-mode> -->
  </div></p-menubar>
<button pripple="" (click)="display = true" class="p-ripple p-element p-button p-component p-button-icon-only mobile" type="button"><!----><span class="pi pi-arrow-right p-button-icon ng-star-inserted" aria-hidden="true"></span><!----><span class="p-button-label ng-star-inserted" aria-hidden="true">&nbsp;</span><!----><!----><span class="p-ink" style="height: 42px; width: 42px; top: -12.25px; left: 5px;"></span></button>
