.mobile {
    visibility: hidden;
    opacity:0;
    display: none;
}

.p-submenu-list {
    z-index: 1000!important;
}

@media screen and (max-width: 480px) {
    .mobile {
        visibility: visible;
        opacity:1;
        display: block;
    }
  }

  .userImg {
    border-radius: 50%;
    width: 42px;
    height: 42px;
  }

  .imgPath {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover
  }